$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

html, body {
	height: 100%;
}

.container-full {
	padding: 0 15px;
}

@import 'board-viewing';
@import 'post'