#pictureInput {
	visibility: hidden;
	height: 0;
}

form[name=postForm] {
	.btn-secondary {
		margin-bottom: 15px;
	}

	#preview-image {
		height: 200px;
		margin: 0 auto 15px auto;
		display: block;
	}

	#button-row {
		text-align: center;

		span {
			display: inline-block;
			margin: 0 10px;
			font-size: 18px;
		}

		button {
			display: inline-block;
			margin: 0;
		}
	}
}