<div class="container-full">
	<div class="row">
		<div ng-switch="isLoading">
			<div ng-switch-when="true">
				Loading...
			</div>
			<div ng-switch-when="false" id="slideshow">
				<div ng-switch="board.posts.length" style="height: 100%">
					<div ng-switch-default="">
						<div id="picture" bg-img="{{ currentPost | publicImageUrl }}">
							<div id="quote">
								<div class="col-xs-8">
									<p>{{ currentPost.quote }}</p>
								</div>
								<div class="col-xs-4" id="author">
									<div id="profile-picture" bg-img="{{ currentPost.creator | profilePicUrl }}"></div>
									<span>{{ currentPost.creator.name | limitTo: 35 }}</span>
								</div>
							</div>
						</div>
					</div>
					<div ng-switch-when="0" style="height: 100%; position: relative; text-align: center">
						<p id="empty-board">This board is empty. Post pictures to it to have them displayed here.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>