<div ng-include="'partials/navbar.html'"></div>

<div class="container-full">

	<div class="row">
		<div class="col-xs-12">
			<form class="form" name="postForm" ng-submit="uploadPost(postForm)">
			  <input type="file" name="picture" accept="image/*" capture="camera" id="pictureInput" notify-on-change>
			  <button type="button" class="btn btn-lg btn-secondary center-block" ng-click="openCamera()" ng-hide="localPhotoSrc">Take a photo</button>
			  <img id="preview-image" ng-src="{{ localPhotoSrc }}" ng-show="localPhotoSrc">
			  <input type="text" class="form-control" ng-model="quote" placeholder="Add a quote"><br>

			  <button type="submit" class="btn btn-lg btn-primary" ng-show="localPhotoSrc">Upload</button>
			</form>
		</div>
	</div>

</div>